<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <!-- Favicon -->
    {% load static %}<link style="border-radius: 100%;" rel="icon" href="{% static 'devansh/images/favicon_io/favicon.ico'%}">
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Advent+Pro&family=El+Messiri&family=Syncopate:wght@700&family=Viga&family=Ubuntu:wght@700&family=Montserrat&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Oswald:wght@700&family=Raleway:ital,wght@1,300;1,600&family=Nunito:wght@900&family=Acme&family=Russo+One&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    {% load static %}<link rel="stylesheet" href="{% static 'devansh/main.css'%}">
    
    <!-- Awesome Font -->
    <script src="https://kit.fontawesome.com/89baad1ea2.js" crossorigin="anonymous"></script>

</head>

<body>
    <section class="Menu" id="Home">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="{% url 'devansh:Home' %}" data-text="home">Home</a>
            </li>
            <li class="menu-item">
                <a href="{% url 'devansh:Contact' %}" data-text="home">Contact</a>
            </li>
            <li class="menu-item">
                <a href="{% url 'devansh:Feedback' %}" data-text="home">Feedback</a>
            </li>
            <li class="menu-item">
                <a href="{% url 'devansh:About' %}" data-text="home">About</a>
            </li>
            <li class="menu-item">
                <a href="{% static 'devansh/pdf/DevanshAgrahari.pdf' %}" download="devansh-resume-07-23" data-text="home">Resume</a>
            </li>
        </ul>
    </section>

    <button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        >
    <i class="fas fa-arrow-up"></i>
    </button>

    <section class="intro">
        <div class="row" style="overflow: hidden;">
            <div class="col col-lg-12 col-md-6 col-sm-6 col-intro" style="z-index: 1; display: flex; flex-direction: column;justify-content: center;align-items: center;">
                <ul class="name">
                    <li>D</li>
                    <li>e</li>
                    <li>v</li>
                    <li>a</li>
                    <li>n</li>
                    <li>s</li>
                    <li>h</li>
                    <li class="space-text">&nbsp;</li>
                    <li>A</li>
                    <li>g</li>
                    <li>r</li>
                    <li>a</li>
                    <li>h</li>
                    <li>a</li>
                    <li>r</li>
                    <li>i</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="tech-stack-wall">
        <div class="row" style="width: 100%;">
            <div class="col col-lg-4 col-md-3 col-sm-6 col-tech">
                <div class="card card-tech">
                    <div class="card-img-x">
                        {% load static %}<img src="{% static 'devansh/images/html-logo.png' %}" alt="html-logo">
                    </div>
                    <div class="content content-tech">
                        <div class="tech-name">
                            <h2>HTML | CSS<br><br><p>Laying out website designs and creating robust web apps</p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-3 col-sm-6 col-tech">
                <div class="card card-tech">
                    <div class="card-img-x">
                        {% load static %}<img src="{% static 'devansh/images/aws.png' %}" alt="css-logo">
                    </div>
                    <div class="content content-tech">
                        <div class="tech-name">
                            <h2>AWS<br><br><p>Application Deployment on Elastic Beanstalk, S3, RDS, IAM</p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-3 col-sm-6 col-tech">
                <div class="card card-tech">
                    <div class="card-img-x">
                        {% load static %}<img src="{% static 'devansh/images/js-logo.png' %}" alt="js-logo">
                    </div>
                    <div class="content content-tech">
                        <br>
                        <div class="tech-name">
                            <h2>Javascript<br><br><p>Clip arts and Animations</p><p>Functionality with Js</p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-3 col-sm-6 col-tech">
                <div class="card card-tech">
                    <div class="card-img-x">
                        {% load static %}<img src="{% static 'devansh/images/docker.png' %}" alt="react-logo">
                    </div>
                    <div class="content content-tech">
                        <div class="tech-name-list">
                            <h2>Docker<br><br><p>Containerisation of Python Scripts</p><p>Writing Dockerfile and compose</p><p>Setup CI/CD GitHub Actions pipeline</p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-3 col-sm-6 col-tech">
                <div class="card card-tech">
                    <div class="card-img-x">
                        {% load static %}<img src="{% static 'devansh/images/python-logo.png' %}" alt="python-logo">
                    </div>
                    <div class="content content-tech">
                        <div class="tech-name-list">
                            <h2>Python<br><br><p>Web Development</p><p>OpenCV, Yolo processing</p><p>Web Scrapping, Automation, API Injection</p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-3 col-sm-6 col-tech">
                <div class="card card-tech">
                    <div class="card-img-x">
                        {% load static %}<img src="{% static 'devansh/images/django.png' %}" alt="django-logo">
                    </div>
                    <div class="content content-tech">
                        <div class="tech-name-list">
                            <h2>Django <br><br><p>Backend Development</p><p>Sessions, Token Authentication</p><p>Celery, Redis, Nginx Proxy, Render</p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-3 col-sm-6 col-tech">
                <div class="card card-tech">
                    <div class="card-img-x">
                        {% load static %}<img src="{% static 'devansh/images/drf.png' %}" alt="blockchain-logo">
                    </div>
                    <div class="content content-tech">
                        <div class="tech-name-list">
                            <h2>Django DRF <br><br><p>API Development</p><p>Microservices</p><p>Interfacing with Systems</p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-3 col-sm-6 col-tech">
                <div class="card card-tech">
                    <div class="card-img-x">
                        {% load static %}<img src="{% static 'devansh/images/solidity.png' %}" alt="solidity-logo">
                    </div>
                    <div class="content content-tech">
                        <div class="tech-name-list">
                            <h2>Solidity <br><br><p>Remix SMC dev ops w/t Solidity</p><p>Handshake Protocols with Solidity</p><p>Ledger Devlopment</p></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-3 col-sm-6 col-tech">
                <div class="card card-tech">
                    <div class="card-img-x">
                        {% load static %}<img src="{% static 'devansh/images/sele-logo.png' %}" alt="sele-logo">
                    </div>
                    <div class="content content-tech">
                        <div class="tech-name-list">
                            <h2>Selenium<br><br><p>Web Automation with Selenium</p><p>Intermediatory Testing with Python</p><p>Scraping w/t BeautifulSoup</p></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="Projects">
          <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <!-- Bootstrap 5 card box -->
                    <div class="card-box">
                        <div class="card-thumbnail">
                            {% load static %}<img src="{% static 'devansh/images/pharmafriend.png' %}" class="img-fluid" alt="project-sign">
                        </div>
                        <h2 class="project-name">PharmaFriend</h2>
                        <p class="project-desc">Website for comparing pricing of medicines on multiple online platforms. <br> Tech Stack: Python, Django, Javascript, PostgreSQL</p>
                        <a href="https://github.com/dev-agra/PharmaFriend" class="btn btn-sm btn-danger float-right">GitHub</a>
                        <a href="#" class="btn btn-sm btn-primary float-right">Demo</a>
                    </div>
                </div>
        
                <div class="col-md-6 col-lg-4">
                    <!-- Bootstrap 5 card box -->
                    <div class="card-box">
                        <div class="card-thumbnail">
                            {% load static %}<img src="{% static 'devansh/images/project-flamescope.png' %}" class="img-fluid" alt="project-sign">
                        </div>
                        <h2 class="project-name">FlameScope</h2>
                        <p class="project-desc">Machine Learning Model that detects fire instances on real-time CCTV camera feed. <br> Tech Stack: Python, Yolo, OpenCV, Javascript</p>
                        <a href="https://github.com/dev-agra/FlameScope" class="btn btn-sm btn-danger float-right">GitHub</a>
                        <a href="#" class="btn btn-sm btn-primary float-right">Demo</a>
                    </div>
                </div>
        
                <div class="col-md-6 col-lg-4">
                    <!-- Bootstrap 5 card box -->
                    <div class="card-box">
                        <div class="card-thumbnail">
                            {% load static %}<img src="{% static 'devansh/images/OwnBazaar.png' %}" class="img-fluid" alt="project-sign">
                        </div>
                        <h2 class="project-name">OwnBazaar</h2>
                        <p class="project-desc">Multi Vendor setup with open-marketplace concept for ordering day-to-day consumables<br>Tech Stack: Python, Django, JavaScript</p>
                        <a href="#" class="btn btn-sm btn-danger float-right">GitHub</a>
                        <a href="#" class="btn btn-sm btn-primary float-right">Demo</a>
                    </div>
                </div>
        
                <div class="col-md-6 col-lg-4">
                    <!-- Bootstrap 5 card box -->
                    <div class="card-box">
                        <div class="card-thumbnail">
                            {% load static %}<img src="{% static 'devansh/images/project-sign1.png' %}" class="img-fluid" alt="project-sign">
                        </div>
                        <h2 class="project-name">Sign Language Detection</h2>
                        <p class="project-desc">A pre-stage Machine Learning model that identifies and classifies Indian Sign Language <br>Tech Stack: Python, TensorFlow, OpenCV, Jupyter</p>
                        <a href="https://github.com/dev-agra/IndianSignLanguage" class="btn btn-sm btn-danger float-right">GitHub</a>
                        <a href="#" class="btn btn-sm btn-primary float-right">Demo</a>
                    </div>
                </div>
        
                <div class="col-md-6 col-lg-4">
                    <!-- Bootstrap 5 card box -->
                    <div class="card-box">
                        <div class="card-thumbnail">
                            {% load static %}<img src="{% static 'devansh/images/receipe-api.png' %}" class="img-fluid" alt="project-sign">
                        </div>
                        <h2 class="project-name">ReceipeAPI</h2>
                        <p class="project-desc">Recipe API with multiple endpoints for operations on user, receipe, ingredients, tags <br>Tech Stack: Python, Django-DRF, Docker, Nginx</p>
                        <a href="https://github.com/dev-agra/django-app-api" class="btn btn-sm btn-danger float-right">GitHub</a>
                        <a href="#" class="btn btn-sm btn-primary float-right">Demo</a>
                    </div>
                </div>
        
                <div class="col-md-6 col-lg-4">
                    <!-- Bootstrap 5 card box -->
                    <div class="card-box">
                        <div class="card-thumbnail">
                            {% load static %}<img src="{% static 'devansh/images/blog-api.png' %}" class="img-fluid" alt="project-sign">
                        </div>
                        <h2 class="project-name">ArticlesAPI</h2>
                        <p class="project-desc">Articles API that allows user to fetch, put, patch articles among other operations <br>Tech Stack: Python, DRF, Docker, Celery, Nginx</p>
                        <a href="https://github.com/dev-agra/Django-API-MEDIUM" class="btn btn-sm btn-danger float-right">GitHub</a>
                        <a href="#" class="btn btn-sm btn-primary float-right">Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Certificates">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
            </div>
            <div class="carousel-inner" style="color: white;">
                <div class="carousel-item active" data-interval: "1000">
                    <div class="container container-project" style="width:60%;height: 40rem;display: flex; justify-content: center;align-items: center;flex-direction: column;">
                        <div class="card card-project">
                            <img src="{% static 'devansh/images/cert/Accenture.jpg' %}" class="cert-img" alt="">
                        </div>    
                    </div>
                </div>
                <div class="carousel-item" data-interval: "1000">
                    <div class="container container-project" style="width:60%;height: 40rem;display: flex; justify-content: center;align-items: center;flex-direction: column;">
                        <div class="card card-project">
                            <img src="{% static 'devansh/images/cert/Cognizant.png' %}" class="cert-img" alt="">
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval: "1000">
                    <div class="container container-project" style="width:60%;height: 40rem;display: flex; justify-content: center;align-items: center;flex-direction: column;">
                        <div class="card card-project">
                            <img src="{% static 'devansh/images/cert/AWS.png' %}" class="cert-img" alt="">
                        </div>    
                    </div>
                </div>
                <div class="carousel-item" data-interval: "1000">
                    <div class="container container-project" style="width:60%;height: 40rem;display: flex; justify-content: center;align-items: center;flex-direction: column;">
                        <div class="card card-project">
                            <img src="{% static 'devansh/images/cert/Codespire.png' %}" class="cert-img" alt="">
                        </div>    
                    </div>
                </div>
                <div class="carousel-item" data-interval: "1000">
                    <div class="container container-project" style="width:60%;height: 40rem;display: flex; justify-content: center;align-items: center;flex-direction: column;">
                        <div class="card card-project">
                            <img src="{% static 'devansh/images/cert/TechSparks.png' %}" class="cert-img" alt="">
                        </div>    
                    </div>
                </div>
                <div class="carousel-item" data-interval: "1000">
                    <div class="container container-project" style="width:60%;height: 40rem;display: flex; justify-content: center;align-items: center;flex-direction: column;">
                        <div class="card card-project">
                            <img src="{% static 'devansh/images/cert/PythonHub.png' %}" class="cert-img" alt="">
                        </div>    
                    </div>
                </div>
                <div class="carousel-item" data-interval: "1000">
                    <div class="container container-project" style="width:60%;height: 40rem;display: flex; justify-content: center;align-items: center;flex-direction: column;">
                        <div class="card card-project">
                            <img src="{% static 'devansh/images/cert/Python.png' %}" class="cert-img" alt="">
                        </div>    
                    </div>
                </div>
                <div class="carousel-item" data-interval: "1000">
                    <div class="container container-project" style="width:60%;height: 40rem;display: flex; justify-content: center;align-items: center;flex-direction: column;">
                        <div class="card card-project">
                            <img src="{% static 'devansh/images/cert/CAdv.jpg' %}" class="cert-img" alt="">
                        </div>    
                    </div>
                </div>
                <div class="carousel-item" data-interval: "1000">
                    <div class="container container-project" style="width:60%;height: 40rem;display: flex; justify-content: center;align-items: center;flex-direction: column;">
                        <div class="card card-project">
                            <img src="{% static 'devansh/images/cert/Java.jpeg' %}" class="cert-img" alt="">
                        </div>    
                    </div>
                </div>
                <div class="carousel-item" data-interval: "1000">
                    <div class="container container-project" style="width:60%;height: 40rem;display: flex; justify-content: center;align-items: center;flex-direction: column;">
                        <div class="card card-project">
                            <img src="{% static 'devansh/images/cert/Django.png' %}" class="cert-img" alt="">
                        </div>    
                    </div>
                </div>
            </div>
            <!-- C:\Programming\Web Development\Devansh Agrahari-Portfolio-Final\Devansh-Website\devansh\static\devansh\images\1-Udemy-Python.png -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
    
    <section class="car-anim">
        <div class="background">
            {% load static %}<img class="car" src="{% static 'devansh/images/car.png' %}" alt="car">
            {% load static %}<img class="bike" src="{% static 'devansh/images/motobike.png' %}" alt="bike">
        </div>
    </section>

    <section class="Footer">
        <div class="footer">
            <a href="https://github.com/dev-agra"><button class="btn btn-lg btn-block btn-outline-dark" type="button"><i class="fa-brands fa-github"></i></button></a>
            <a href="https://www.linkedin.com/in/devansh-agrahari-2040b9212/"><button class="btn btn-lg btn-block btn-outline-dark" type="button"><i class="fa-brands fa-linkedin"></i></button></a>
            <a href="{% url 'devansh:Home' %}"><button class="btn btn-lg btn-block btn-outline-dark" type="button"><i class="fa-brands fa-dev"></i></button></a>
        </div>
        <div class="footer-desp">
            <p>© copyright <span class="span1"> <a href="https://www.linkedin.com/in/devansh-agrahari-2040b9212" style="text-decoration: none;"><strong>Devansh Agrahari</strong></a></span> 2023</p>
        </div>
    </section>
    <script src="{% static 'devansh/js/snakegame.js' %}"></script>
    <script>
        const menu = document.querySelector(".Menu");

        document.addEventListener("scroll", () => {
            if (document.documentElement.scrollTop > 0)
                menu.classList.add("menu--alt");
            else
                menu.classList.remove("menu--alt");
        })

        //Get the button
        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
        scrollFunction();
        };

        function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
</body>
</html>